{
  "printWidth": 80,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "bracketSameLine": true,
  "semi": true,
  "importOrder": [
    "^@nestjs/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
